@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Pinyon+Script&display=swap');
@import url('/src/assets/fonts/begum/stylesheet.css');

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-in-out;
}

* {
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}

body {
  background-color: #FFF9F3;
}

.dancing-script {
  font-family: "Pinyon Script", cursive;
}

.begum {
  font-family: 'Begum Sans regular', sans-serif !important;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

@media (max-width: 768px) {
  .animate-scroll {
    animation-duration: 30s;
  }
}